#portada{
    width: 100%;
    height: 900px;
}
#portada2{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}
#tarjeta{
    height: 100%;
    width: 100%;
}
#hombre {
    padding-left: 10%;
}